.episodesContainer {
  background-color: #5da221;
  padding: 1rem;
  height: 85vh;
  z-index: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  padding-bottom: 0;
  &left,
  &right {
    @extend .episodesContainer;
  }
  &left {
    border-radius: 0 0.5rem 0.5rem 0;
    margin-left: -0.3rem;
    margin-right: 1.2rem;
  }
  &right {
    border-radius: 0.5rem 0 0 0.5rem;
    margin-right: -0.3rem;
    margin-left: 1.2rem;
  }
  &mix {
    background-color: #212121;
    border-radius: 0.5rem;
    @extend .episodesContainer;
    .episodesList {
      min-width: -moz-available;
      min-width: -webkit-fill-available;
      min-width: fill-available;
      > * {
        color: rgba(255, 255, 255, 0.834);
      }
    }
  }
}
.episodesList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15vw;
  padding: 1rem 1rem 1rem 1.5rem;
  overflow-y: auto;
  height: 80vh;
  > * {
    color: #251642;
  }
}

.errorMessage {
  @extend .episodesContainer;
  @extend .episodesContainermix;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 15vw;
  padding: 1rem 2rem;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.834);
  font-weight: 500;
  font-size: 1rem;
}
