@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
section p {
  margin: 0;
}

body {
  font-family: "Sono", sans-serif;
  font-size: 12px;
  background-color: #ffffff30;
  @media (min-width: 1040px) {
    padding: 0.5rem 1.5rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff82 #ffffff20;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff20;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff82;
  border-radius: 10px;
}
